<div class="footer">
           
    <div class="contact">
        <h2 align="center">Contacts</h2>
        <p align="center><span>Facebook:</span>MemoryStore</p>
        <p align="center><span>Address:</span>17BinhKhanh </p>
        <p align="center><span>Emai:</span> Vinh@fpt.edu.vn <p>
        <p align="center><span>Tel:</span> 0909090909</p>
    </div>
    <div class="link">
        <p>nono &copy; All Right Reserved</p>
    </div>
