<%- include('partials/header') -%>
<div class="topnav">
    <a href="http://localhost:5000/login?username=&password=">Login</a>
    <a href="http://localhost:5000/staffs">Staffs</a>
    <a href="http://localhost:5000/order">Order</a>
    <a href="http://localhost:5000/payment?dssp=">Payment</a>
    <a href="http://localhost:5000/products">Products</a>
    <a href="http://localhost:5000/" style="float: left;">Home</a>
  </div>
