<%- include('partials/header') -%>
<div class="topnav">
    <a href="https://okne.herokuapp.com/login?username=&password=">Login</a>
    <a href="https://okne.herokuapp.com/staffs">Staffs</a>
    <a href="https://okne.herokuapp.com/order">Order</a>
    <a href="https://okne.herokuapp.com/payment?dssp=">Payment</a>
    <a href="https://okne.herokuapp.com/products">Products</a>
    <a href="https://okne.herokuapp.com/" style="float: left;">Home</a>
  </div>
